{% if resume.education.size > 0 %}
<section>
  <div class="npb">
  <h2 id="education" class="h3 hr-bottom">
    {{ strings.resume.education | default:"Education" }}
    <span class="symbol {{ icons.education | default:'icon-library' }}"></span>
  </h2>
  {% for edu in resume.education %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      {% if edu.startDate.size > 0 %}
        <p class="faded">
          {% include components/from-to.html from=edu.startDate to=edu.endDate format="%Y. %m" %}
        </p>
      {% endif %}
      <h3 class="h4 faded">
        <span class="bc">{{ edu.institution }}</span>
        {%- if edu.area.size > 0 -%}
          <small style="font-weight:normal;">에서</small>
          <span class="bc">{{ edu.area }}</span><small style="font-weight:normal;">를 전공</small>
          <!-- {%- if edu.studyType.size > 0 -%}
            <small style="font-weight:normal;">,</small>
            <span class="bc">{{ edu.studyType }}</span><small style="font-weight:normal;"> 학위를 취득</small>
          {%- endif -%} -->
        {%- endif -%}
      </h3>
    </header>
    {% if edu.courses.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.courses | default:"Courses" }}</h4>
    <ul>
      {% for course in edu.courses %}
        <li>{{ course }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}