{% if resume.work.size > 0 %}
<section>
  <div class="npb">
  <h2 id="work" class="h3 hr-bottom">
    {{ strings.resume.work | default:"Experience" }}
    <span class="symbol {{ icons.work | default:'icon-briefcase' }}"></span>
  </h2>
  {% for work in resume.work %}
  <section>
    <header
      class="{% unless forloop.first %}mt2{% endunless %}"
      property="{% if work.endDate.size > 0 %}alumniOf{% else %}worksFor{% endif %}"
      typeof="Organization"
      >
      {% if work.startDate.size > 0 %}
        <p class="faded">
          {% include components/from-to.html from=work.startDate to=work.endDate format="%Y. %m" %}
        </p>
      {% endif %}
      <h3 class="h4 faded">
        {% capture company %}{%- include components/link.html title=work.company href=work.website span_class="bc" -%}{% endcapture %}
        <span class="bc">{{ company | strip }}</span><small style="font-weight:normal;">에서</small>
        <span class="bc">{{ work.position }}</span><small style="font-weight:normal;">로 근무</small>
      </h3>
    </header>

    {% include components/message.html class="note" text=work.summary alt="" %}

    {% if work.highlights.size > 0 %}
    <h4 class="sr-only">{{ strings.resume.highlights | default:"Highlights" }}</h4>
    <ul>
      {% for highlight in work.highlights %}
        <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
